

.object-fit {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.tags-box {
  display: flex;
  /* margin-bottom: 8px; */
}

.card-tag {
  padding: 0px 12px 0px 0px;
  /* border: 1px solid #F78154; */
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #F78154;
  font-size: 14px;
}

.card-tag + .card-tag {
  margin-left: 8px;
}

.ic-16px {
  height: 24px;
}

.a-project {
  font-family: 'Work Sans', sans-serif;
  color: #F78154;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.a-project:hover {
  text-decoration: underline;
}

.card-description {
  margin-bottom: 16px;
  margin-top: 16px;
  font-size: 20px;
  line-height: 28px;
}

.card-links {
  display: flex;
  flex-direction: column;
}

.card-links .link-box + .link-box {
  margin-top: 8px;
}

/* This class is applied to clarify certain labels to screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}