/* COLOUR REFERENCE: 
moss:           #00372A
friendly lava:  #F78154 
creamy cream:   #FFF1BE
*/

/* FONT REFERENCE:
'Spectral', serif;
300;400;500;600

'Work Sans', sans-serif;
400;500;600
*/

/* full-width: 1080 */

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  
}

body {
  margin: 0;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Spectral", serif;
  color: #FFF1BE;

  background-color: #00372A;
  /* border: 1px dashed white; */
}

.top-nav {
  /* border: 1px dashed cyan; */
  height: 48px;
  width: 100%;
  padding: 0 0 0 8px;
  display: flex;
  align-items: center;
  position: fixed;
}

.section-intro {
  /* border: 1px dashed #F78154; */
  /* height: 280px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-intro-content {
  /* border: 1px dashed darkcyan; */
  max-width: 680px;
  padding: 180px 24px 40px 24px;
  display: flex;
  flex-direction: column;
}

.h1-intro {
  font-weight: 400;
  font-size: 80px;
  line-height: 100%;
}

.p-intro {
  font-size: 24px;
}

.squiggly-divider {
  margin: 88px 0 64px 0;
  align-self: center;
}

.section-projects {
  max-width: 1080px;
  /* border: 1px dashed khaki; */
  padding-left: 24px; 
  padding-right: 24px;
  padding-bottom: 160px;
}

/* .section-projects p {
  margin-bottom: 24px;

} */

.section-projects-grid {
  max-width: 1080px;
  margin: 16px 0 0 0;
  display: grid;
  grid-gap: 3rem 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.project-card {
  /* border: 1px dashed rgba(255,255,255,0.2); */
  /* height: 200px; */
}

.section-skill {
  width: 100%;
  display: flex;
  color: #00372A;
}

.skill-left {
  background-color: #FFF1BE;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 24px 40px 24px;
}

.skill-right {
  background-color: #F78154;
  display: flex;
  justify-content: start;
  width: 100%;
  padding: 40px 24px 40px 24px;
}

.skill-left-content {
  /* border: 1px dashed darkviolet; */
  align-self: flex-end;
}

.skill-right-content  {
  display: flex;
  /* border: 1px dashed green; */
  flex-direction: column;
}

.skill-left-content, .skill-right-content {
  width: 100%;
  max-width: 415px;
}

.skill-columns {
  /* border: 1px dashed royalblue; */
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.skill-column {
  /* border: 1px dashed blueviolet; */
  max-width: 200px;
  font-family: 'Work Sans', sans-serif;
  flex: 1 0;
}

.skill-column + .skill-column {
  margin-left: 16px;
}

.p-skill-header {
  font-weight: 600;
}

.p-skill {
  font-size: 16px;
}

.p-skill-asterisk {
  /* border: 1px dashed darkturquoise; */
  margin-top: 16px;
}

.squiggle-background-orange {
  height: 5px;
  background-image: url(./assets/divider-squiggle-bg-orange.svg);
  background-position: center;
  margin-bottom: 8px;
}

.squiggle-background-cream {
  height: 5px;
  background-image: url(./assets/divider-squiggle-bg-cream.svg);
  background-position: center;
  margin-bottom: 8px;
}

.h1-skill {
  line-height: 56px;
  margin-bottom: 16px;
}

.italic {
  font-style: italic;
}

.section-contact {
  /* border: 1px dashed #F78154; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 24px 208px 24px;
}

.section-contact-content {
  /* border: 1px dashed darkcyan; */
  max-width: 680px;
}

.links-container {
  margin: 16px 0 16px 16px;
}

.link-box {
  display: flex;
  align-items: center;
}

.links-container .link-box + .link-box {
  margin-top: 8px;
}

.a-contact {
  font-family: 'Work Sans', sans-serif;
  color: #F78154;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.a-contact:hover {
  color: #F78154;
  text-decoration: underline;
}

.icon-inline {
  margin-right: 8px;
}

/* ----- COLOURS ----- */

.cream {
  color: #FFF1BE;
}

.orange {
  color: #F78154;
}

.moss {
  color: #00372A;
}


/* ----- TYPO FOUNDATION ----- */
p {
  font-size: 20px;
}

h1, h2, h3, h4, p {
  margin: 0;
  letter-spacing: -0.05em;
  font-weight: 400;
}

h1 {font-size: 48px;}
h2 {}
h3 {
  font-size: 32px;
}
h4 {}

.work-sans {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
}

@media (max-width: 1450px) {
  .top-nav {
    position: relative;
  }
}

@media (max-width: 800px) {
  .section-projects-grid { 
    grid-template-columns: repeat(2, 1fr); 
  }
  .section-skill { 
    flex-direction: column; 
  }
  .skill-left-content {
    align-self: flex-start;
  }
  .section-contact-content {
    /* border: 1px dashed white; */
    /* width: auto; */
  }

}

@media (max-width: 420px) {
  .section-projects-grid { 
    grid-template-columns: repeat(1, 1fr); 
  }
}